{% extends "::base.html.twig" %}

{% block content %}
<div id="home">
  
  <div class="tac">
    <img src="{{ asset('images/21s.jpeg') }}" alt="" />
  </div>

  <div class="contentBox">
    <h1 class="tac">Desafío ALMA</h1>
    <h2 class="tac">"Análisis del desempeño del Sistema"</h2>
    <h4 class="tac">Presentado por <span>Get Lucky!</span> </h4>  
    <hr>
    <h3>Equipo</h3>
    <ul>
      <li>Roberto Moreno</li>
      <li>Alvaro Olavarría</li>
      <li>Jose Saavedra</li>
      <li>Alvaro Véliz</li>
    </ul>
    <hr>
    <h3>Desarrollo</h3>
    <p>
      Integración de tecnologías challa+1
      <br />
      <span class="icon-github"></span> Disponible en el repositorio: <a href="https://github.com/spaceappchile/team13">https://github.com/spaceappchile/team13</a>
    </p>
  </div>
</div>
{% endblock content %}