{% extends "::base.html.twig" %}

{% block content %}
<div class="contentTitle">
  <h1><span class="icon-gauge"></span> Insights</h1>
  <h2>Data analysis</h2>  
</div>
<div class="contentBox">
  <div id="example" style="width: 100%; height: 420px;"></div>
</div>
<div class="contentBox">
  <table class="table" width="100%">
    <tr>
      <th>#</th>
      <th>Array</th>
      <th>Status</th>
    </tr>
    <tr>
      <td class="tac">1</td>
      <td>Array003</td>
      <td class="tac">
        <div class="array-status array-success"></div>
      </td>
    </tr>
    <tr>
      <td class="tac">1</td>
      <td>Array003</td>
      <td class="tac">
        <div class="array-status array-error"></div>
      </td>
    </tr>
    <tr>
      <td class="tac">1</td>
      <td>Array003</td>
      <td class="tac">
        <div class="array-status array-success"></div>
      </td>
    </tr>
    <tr>
      <td class="tac">1</td>
      <td>Array003</td>
      <td class="tac">
        <div class="array-status array-error"></div>
      </td>
    </tr>
    <tr>
      <td class="tac">1</td>
      <td>Array003</td>
      <td class="tac">
        <div class="array-status array-success"></div>
      </td>
    </tr>
  </table>
</div>
{% endblock content %}