{% extends "::base.html.twig" %}

{% set mainMenu = 'insights' %}

{% block content %}
<div class="contentTitle">
  <h1><span class="icon-gauge"></span> Insights</h1>
  <h2>Data analysis</h2>  
</div>
<div class="contentBox">
  <div id="process" style="width: 100%; height: 460px;"></div>
  <script>
    $(document).ready(function(){
     status1 = [];
     {% for event in result1 %}
     event = ['{{ event.execution_date }}', {{ event.count }}];
     status1.push(event);
     {% endfor %}

     status2 = [];
     {% for event in result2 %}
     event = ['{{ event.execution_date }}', {{ event.count }}];
     status2.push(event);
     {% endfor %}

      var plot1 = $.jqplot ('process', [status1, status2], {
        seriesColors: [ '#FFFFFF', '#9BB3CC' ],
        title : 'XML Analysis',
        grid : {
          gridLineColor: '#DFDFDF',
          borderColor: '#444',
          borderWidth: 0.5,
          background: '#0F2E42'
        },
        axes : {
          xaxis : {
            pad: 0,
            renderer:$.jqplot.DateAxisRenderer,
            tickOptions:{
              formatString:'%H:%M'
            },
            label : 'Tiempo',
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
            labelOptions: {
              fontFamily: 'Dosis',
              fontSize: '14pt'
            }
          },
          yaxis : {
            label : 'Cant. Procesos',
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
            labelOptions: {
              fontFamily: 'Dosis',
              fontSize: '14pt'
            }
          }
        },
        highlighter: {
          show: true,
          sizeAdjust: 7.5
        },
        cursor: {
          show: false
        }
      });
    });
  </script>
</div>
<div class="contentBox">
  <table class="table" width="100%">
    <tr>
      <th>#</th>
      <th>Array</th>
      <th>Status</th>
    </tr>
    <tr>
      <td class="tac">1</td>
      <td>Array003</td>
      <td class="tac">
        <div class="array-status array-success"></div>
      </td>
    </tr>
    <tr>
      <td class="tac">1</td>
      <td>Array003</td>
      <td class="tac">
        <div class="array-status array-error"></div>
      </td>
    </tr>
    <tr>
      <td class="tac">1</td>
      <td>Array003</td>
      <td class="tac">
        <div class="array-status array-success"></div>
      </td>
    </tr>
    <tr>
      <td class="tac">1</td>
      <td>Array003</td>
      <td class="tac">
        <div class="array-status array-error"></div>
      </td>
    </tr>
    <tr>
      <td class="tac">1</td>
      <td>Array003</td>
      <td class="tac">
        <div class="array-status array-success"></div>
      </td>
    </tr>
  </table>
</div>
{% endblock content %}