@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("fontello.eot?80709108");
  src: url("fontello.eot?80709108#iefix") format('embedded-opentype'), url("fontello.woff?80709108") format('woff'), url("fontello.ttf?80709108") format('truetype'), url("fontello.svg?80709108#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('fontello.svg?80709108#fontello') format('svg');
  }
}
*/
[class^="iconf-"]:before,
[class*=" iconf-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.iconf-plus:before { content: '\2b'; } /* '+' */
.iconf-left-thin:before { content: '\2190'; } /* '←' */
.iconf-up-thin:before { content: '\2191'; } /* '↑' */
.iconf-right-thin:before { content: '\2192'; } /* '→' */
.iconf-down-thin:before { content: '\2193'; } /* '↓' */
.iconf-level-up:before { content: '\21b0'; } /* '↰' */
.iconf-level-down:before { content: '\21b3'; } /* '↳' */
.iconf-switch:before { content: '\21c6'; } /* '⇆' */
.iconf-plus-squared:before { content: '\229e'; } /* '⊞' */
.iconf-home:before { content: '\2302'; } /* '⌂' */
.iconf-up-dir:before { content: '\25b4'; } /* '▴' */
.iconf-right-dir:before { content: '\25b8'; } /* '▸' */
.iconf-down-dir:before { content: '\25be'; } /* '▾' */
.iconf-left-dir:before { content: '\25c2'; } /* '◂' */
.iconf-cog:before { content: '\2699'; } /* '⚙' */
.iconf-check:before { content: '\2713'; } /* '✓' */
.iconf-cancel:before { content: '\2715'; } /* '✕' */
.iconf-cancel-circled:before { content: '\2716'; } /* '✖' */
.iconf-cancel-squared:before { content: '\274e'; } /* '❎' */
.iconf-plus-circled:before { content: '\2795'; } /* '➕' */
.iconf-right:before { content: '\27a1'; } /* '➡' */
.iconf-ccw:before { content: '\27f2'; } /* '⟲' */
.iconf-cw:before { content: '\27f3'; } /* '⟳' */
.iconf-left:before { content: '\2b05'; } /* '⬅' */
.iconf-up:before { content: '\2b06'; } /* '⬆' */
.iconf-down:before { content: '\2b07'; } /* '⬇' */
.iconf-left-bold:before { content: '\e4ad'; } /* '' */
.iconf-right-bold:before { content: '\e4ae'; } /* '' */
.iconf-up-bold:before { content: '\e4af'; } /* '' */
.iconf-down-bold:before { content: '\e4b0'; } /* '' */
.iconf-trash:before { content: '\e729'; } /* '' */
.iconf-logout:before { content: '\e741'; } /* '' */
.iconf-chart-pie:before { content: '\e751'; } /* '' */
.iconf-down-open:before { content: '\e75c'; } /* '' */
.iconf-left-open:before { content: '\e75d'; } /* '' */
.iconf-right-open:before { content: '\e75e'; } /* '' */
.iconf-up-open:before { content: '\e75f'; } /* '' */
.iconf-down-open-mini:before { content: '\e760'; } /* '' */
.iconf-left-open-mini:before { content: '\e761'; } /* '' */
.iconf-right-open-mini:before { content: '\e762'; } /* '' */
.iconf-up-open-mini:before { content: '\e763'; } /* '' */
.iconf-down-open-big:before { content: '\e764'; } /* '' */
.iconf-left-open-big:before { content: '\e765'; } /* '' */
.iconf-right-open-big:before { content: '\e766'; } /* '' */
.iconf-up-open-big:before { content: '\e767'; } /* '' */
.iconf-back-in-time:before { content: '\e771'; } /* '' */
.iconf-gauge:before { content: '\f0e4'; } /* '' */
.iconf-chart-line:before { content: '📈'; } /* '\1f4c8' */
.iconf-chart-bar:before { content: '📊'; } /* '\1f4ca' */
.iconf-shuffle:before { content: '🔀'; } /* '\1f500' */
.iconf-loop:before { content: '🔁'; } /* '\1f501' */
.iconf-arrows-ccw:before { content: '🔄'; } /* '\1f504' */
.iconf-chart-area:before { content: '🔾'; } /* '\1f53e' */
.iconf-clock:before { content: '🕔'; } /* '\1f554' */