{% extends "::base.html.twig" %}

{% set mainMenu = 'admin' %}

{% block content %}
<div class="contentTitle">
  <h1><span class="icon-cog"></span> Admin</h1>
  <h2>New Array</h2>  
</div>

<div class="contentBox">
  <form action="{{ path('admin_array_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
      <button type="submit" class="btn">Create</button>
    </p>
  </form>
  <hr>
  <a href="{{ path('admin_array') }}">Back to the list</a>  
</div>

{% endblock content %}